altgraph==0.17.4
biom-format==2.1.15
click==8.1.7
future==1.0.0
h5py==3.11.0
importlib_metadata==7.1.0
numpy==1.24.4
packaging==24.0
pandas==2.0.3
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.10.1
six==1.16.0
tzdata==2024.1                                                                                                                                                                                
zipp==3.18.1                